PyQt5
PyQtWebEngine
wmi
PyQt5-sip
pillow
image
fbi_api==1.2.0
GitPython==3.1.31
Requests
rich==13.3.5
rich_argparse==1.1.0
tqdm==4.65.0
selenium
bs4
stem
pgpy
ChromeDriverManager
webdriver_manager
ushlex
pyqtdarktheme
